@model Employee

<div class="container">


    <h1 class="mt-3">Salary Calculator</h1>

    <main>

        <form asp-action="Salary" method="post" class="  form-horizontal">


            <div class="row">
                <label asp-for="Name" class="control-label col-sm-3">Name: </label>
                <input asp-for="Name" class="form-control col-sm-3" />

            </div>
            <div class="row">
                <label asp-for="Title" class="control-label col-sm-3">Title: </label>
                <input asp-for="Title" class="form-control col-sm-3" />

            </div>
            <div class="row">
                <label asp-for="PayRate" class="control-label col-sm-3">Pay Rate: </label>
                <input asp-for="PayRate" class="form-control col-sm-3" />

            </div>
            <div class="row">
                <label class="control-label col-sm-3"> <span class="fa-solid fa-business-time"></span>&nbsp;Hours Worked: </label>
                <input asp-for="Hours" class="form-control col-sm-3" />

            </div>
            <div class="row">
                <label class="control-label col-sm-3"> <span class="fa fa-money-bill-alt"></span>&nbsp; Salary: </label>
                <input value="@ViewBag.Salary.ToString("c2")" readonly class="form-control col-sm-3" />
            </div>
            <div class="row">
                <div class="col offset-sm-3 pl-0">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                    <a asp-action="Salary" class="btn btn-outline-secondary">Clear</a>
                </div>
            </div>
        </form>
    </main>
</div>